a {
    /*margin-left: 100px*/
    font-family: Kurale;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000;
    transition: all 1s ease;
}

nav {
    width: 100%;
    background-color: #DB4C3F;
    /*padding: 20px 0px;*/
}

nav a {
    color: #fff;
}


.active .nav-link{
    color: #e3e1e1 !important;
}

.nav-link{
    color: #f0f0f0 !important;
}





.btn {
    background: #c04237;
    border-radius: 30px;
    padding: 10px;
    color: #f0f0f0;
}

.btn:hover {
    background: #fff;
    color: #c04237;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}


.logo_text {
    color: #ffffff;
    font-family: Playball;
    font-size: 64px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}


nav .menu a {
    font-family: Kurale;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
}

.login {
    padding: 25px;
}

nav .login a {
    font-family: Kurale;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    margin-right: 50px;
}

.main {
    font-family: Kurale;
    font-size: 36px;
    padding-top: 40px;
}


.main h1 {
    font-size: 48px;
}

.main li {
    list-style-type: none;
    padding: 10px 0px;
}

/*.main .tel {*/
/*    width: 30%;*/
/*    float: left;*/
/*}*/

/*.main .about {*/
/*    width: 70%;*/
/*    float: left;*/
/*}*/

.main img {
    width: 100%;
    padding-top: 100px;
    display: none;
}

.main .btn {
    font-size: 36px;
    background-color: #DB4C3F;
    color: #fff;
    padding: 5px 100px;
    border-radius: 30px;
    margin-top: 100px;
}

nav .btn {
    border: 1px solid #fff;
}

.navbar-light .navbar-brand{
    color: #f0f0f0;
}

.text_white{
    color: #f0f0f0;
}


@media (min-width: 1155px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1300px;
    }
}

@media (min-width: 992px) {


    .main img {
        display: block;
    }
}